<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="kaltura_nugets" value="https://nuget.rnd.ott.kaltura.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <add key="https://nuget.rnd.ott.kaltura.com/v3/index.json" value="Kaltura" />
  </apikeys>
</configuration>